<app-nav-bar></app-nav-bar>

      <!-- Masthead -->
 <header class="masthead text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Add a New Idea</h1>
      </div>
      <div class="col-xl-9 mx-auto">
        <form [formGroup] = "form" (ngSubmit)="onSubmit()" >
          <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                    <input formControlName="title" type="text" class="form-control form-control-lg input" placeholder="Title" id= "name">
                    <div [hidden]="title.valid || title.pristine" class="alert alert-danger input formerror"> Title is required</div>
                    <br>
                    <textarea formControlName="description" class="form-control form-control-lg input" placeholder="Description">
                    </textarea>
                    <br>
                    <button type="submit" class="btn btn-block btn-lg btn-primary input btn-custom">Add</button>
              </div>
              <div class="col-12 col-md-3">
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>